body {
    background: rgb(37, 36, 36);
}
.title{
    color: rgb(243, 228, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}